@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: helvetica-now;
  src: url();
}

* {
  font-family: helvetica-now, sans-serif;
  box-sizing: border-box;
 
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* .logo-slide {
  animation: 10s slide linear infinite;
} */

ul {
  text-transform: uppercase;
}

.list-info:before {
content: "—";
position: absolute;
margin-left: -20px;
}

body {
    overflow-x: hidden
}

nav {
  @apply text-xs tracking-wider;
}

.nav--button {
  @apply pl-2 ml-4;
}

.search {

}

.search:hover {
  .glass-icon {
    color: black;
  }
  
}

.placeholder-hover:hover::placeholder {
  color: black !important;
}

.link-bar {
  text-transform: capitalize;
}

.link-bar-anchor {
  text-decoration: underline;
  color: rgb(135, 135, 135);
}

.link-bar-link {
  @apply hover:text-gray-400
}

.acne-splash {
  transform: translate(-50%, -50%);
  
}



.footer--link {
  @apply text-xs cursor-pointer hover:text-blue-950  text-[#0018A8] pt-0.5 pb-0.5;
}

.img-container {
    position: relative;
    width: 100vw;
    height: 0;
    padding-bottom: calc(100% / (16 / 9));
  
   
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("/assets/kylie/kylie-d.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }


 .product-container {
  width: 50%;
 }


 .product-card {
  
 }

.product-img-container {
  width: 50%;
  background-image: url("/assets/products/denim/jackets/LOOSE FIT DENIM JACKET/C90095-900_F.jpg");
  background-size: cover;
}


.product-img-container2 {
  width: 50%;
  background-image: url("/assets/products/denim/jackets/RELAXED FIT DENIM JACKET/C90149-AA3_PLP_woman-fw23-denim.jpg");
  background-size: cover;
}

.product-img-container3 {
  width: 50%;
  background-image: url("/assets/products/denim/jeans/LOOSE FIT JEANS/A00371-AA3_F.jpg");
  background-size: cover;
}

.product-img-container4 {
  width: 50%;
  background-image: url("/assets/products/denim/jeans/RELAXED FIT JEANS/A00335-900_PLP_woman-fw23-denim.jpg");
  background-size: cover;
}

.product-img-container5 {
  width: 50%;
  background-image: url("/assets/products/glasses/WHITE METAL FRAME/C30055-CAH_A.jpg");
  background-size: cover;
}
.product-img-container6 {
  width: 50%;
  background-image: url("/assets/products/glasses/BLACK METAL FRAME/C30055-Z33_A.jpg");
  background-size: cover;
}
.product-img-container7 {
  width: 50%;
  background-image: url("/assets/products/accessories/HEART CHARM NECKLACE/C50399-BWF_A.jpg");
  background-size: cover;
}
.product-img-container8 {
  width: 50%;
  background-image: url("/assets/products/accessories/MULTI HOOP EARRINGS/C50385-CNJ_A.jpg");
  background-size: cover;
}

 .kylie-container {
  width: 50%;
  height: 0;
  padding-top: calc(42.2% / (9 / 16));
  background-image: url("/assets/kylie/denim-3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
 }
 

 .kylie-container2 {
  width: 50%;
  height: 0;
  padding-top: calc(42.2% / (9 / 16));
  background-image: url("/assets/kylie/kylie-v2.png");
  background-size: contain;
  background-repeat: no-repeat;
 }
 


.img-container2 {
    position: relative;
    width: 100vw;
    height: 0; 
    padding-bottom: calc(100% / (14.5 / 9));
   
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("/assets/kylie/denim2-d.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  
  .text-link {
    transform: translateY(70%);
  }

  .text-container {
    height: 700px;
  } 

  