@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: helvetica-now;
    src: url();
}

* {
    font-family: helvetica-now, sans-serif;
    box-sizing: border-box;
}

ul {
    text-transform: uppercase;
}

nav {
    @apply text-xs tracking-wider
}

.nav--button {
    @apply pl-2 ml-4
}

.acne-splash {
    transform: translate(-50%, -50%);
    
    
}


.footer--link {
   @apply text-xs text-[#0018A8] pt-0.5 pb-0.5 
}



